/*! Блок вибору кольорів */
.colorBoxContainer {
    width: max-content;
    margin: 100px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.colorBoxTitle {
    text-align: center;
    color: gray;
    font-size: 2rem;
}

.colorBoxDescription {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.colorBoxSelectedColor {
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 5px;
}

.colorBox {
    padding: 10px;
    display: flex;
    gap: 20px;
    height: 120px;
    cursor: pointer;
    /* transition: transform 250ms linear; */
    /* outline: 1px solid gray; */
}

/* .colorBoxActive {
    transform: scale(1.2);
} */

.colorBoxButton {
    width: 100px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 2px solid black;
}


/*! Блок обраних кольорів */
.selectedColorsContainer {
    width: 860px;
    margin: 100px auto;
    padding: 10px;
    /* outline: 1px solid black; */
}

.selectedColorsBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selectedColor {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #191919;
}